body {
    font-family: "roboto", sans-serif;
}

/* Edit Bootstrap */
.card {
    margin-bottom: 1rem;
}

.disabled {
    border: 0;
}

/* Akhir Edit Bootstrap */

/* Footer */
.index-medsos {
    color: black;
    font-size: 1.3rem;
    margin: 0 5px 0 0;
}
/* Akhir Footer */

/* Partials.Kamar */
.kamar-status {
    color: green;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0 0 0 0;
}

.kamar-status-terisi {
    color: red;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0 0 0 0;
}

/* Akhir Partials.Kamar */